<div class="form-group">
  <label class="control-label col-lg-2" for="inputTitle">Title</label>
  <div class="col-lg-10">
    {{input value=title classNames="form-control" }}
  </div>
</div>
<div class="form-group">
  <label class="control-label col-lg-2" for="inputDescription">Description</label>
  <div class="col-lg-10">
    {{input value=description classNames="form-control" }}
  </div>
</div>

<div class="form-group">
  {{view "Ember.Select" content=users class="selectpicker"
                  optionValuePath="content.id"
                  optionLabelPath="content.name"
                  value=user_id}}
</div>
<input type="hidden" {{bind-attr value=id}} id="id"/>
