<h2 id='title'>Tasks trial</h2>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="navbar-header">
    {{#link-to 'index' classNames='navbar-brand'}}
      Home
    {{/link-to}}
  </div>
  <div class="collapse navbar-collapse navbar-ex5-collapse">
    <ul class="nav navbar-nav">
      <li>
      {{#link-to 'protected' tagName='li'}}
        <a style="cursor: pointer">Protected Page</a>
      {{/link-to}}
      </li>

      {{#if session.isAuthenticated}}
        {{#link-to 'tasks' tagName='li'}}
        <a style="cursor: pointer">Tasks</a>
        {{/link-to}}
      {{/if}}
    </ul>
    {{! display logout button when the session is authenticated, login button otherwise }}
    {{#if session.isAuthenticated}}
      <a {{ action 'invalidateSession' }} class="btn btn-danger navbar-btn navbar-right">Logout</a>
    {{else}}
      {{#link-to 'login' class="btn btn-success navbar-btn navbar-right"}}Login{{/link-to}}
    {{/if}}
  </div>
</nav>
<div class="container">
  {{outlet}}
</div>
